<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>:(</title>
    <link rel="stylesheet" href="application.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  </head>

  <body>
    <audio id="audioElement" src="audio/Ur All I Want.mp3"></audio>


<div id="buttons">
  <i class="fa fa-play-circle fa-2x" onclick="document.getElementById('audioElement').play()"></i>
  <i class="fa fa-pause-circle fa-2x" onclick="document.getElementById('audioElement').pause()"></i>
</div>
<div id="songChoice">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      song :( <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li data-songtype="audio/daily (prod. ghoste).mp3"><a >ghoste - daily (prod. ghoste).mp3</a></li>
      <li data-songtype="audio/gas (prod blank body).mp3"><a >ghoste - gas (prod blank body).mp3</a></li>
      <li data-songtype="audio/Ceremony.mp3"><a >karman - ceremony</a></li>
      <li data-songtype="audio/Ur All I Want.mp3"><a >karman - ur all i want</a></li>
      <li data-songtype="audio/Karman - Cold Front.wav"><a >karman - cold front</a></li>
      <li data-songtype="audio/CONNECT  .mp3"><a >jessaudrey - connect\\</a></li>
      <li data-songtype="audio/NOAH B X JESSAUDREY - DIVIDED.mp3"><a >noah b x jessaudrey - divided</a></li>
      <li data-songtype="audio/missingperson.mp3"><a class="songListing">bladee - missing person</a></li>
      <li data-songtype="audio/fridayNite.mp3"><a >bladee - friday nite</a></li>
      <li data-songtype="audio/idktrap.mp3"><a >duvet - idktrap</a></li>
      <li data-songtype="audio/yungLean_yoshiCity.mp3"><a >yung lean - yoshi city</a></li>
      <li data-songtype="audio/bladee - Into Dust.mp3"><a >bladee - into dust</a></li>
      <li data-songtype="audio/bladee - Like A Virgin (prod. whitearmor).mp3"><a >bladee - like a virgin (prod. whitearmor)</a></li>
      <li data-songtype="audio/bladee - reborn.mp3"><a >bladee - reborn</a></li>
      <li data-songtype="audio/bladee - shadowface (ft. Bones).mp3"><a >bladee - shadowface (ft. bones)</a></li>
      <li data-songtype="audio/bladee + Yung Lean - MJ (prod. h!tkidd).mp3"><a >bladee + yung lean - mj (prod. h!tkidd)</a></li>
      <li data-songtype="audio/bladee + Yung Lean- Blood Rain.mp3"><a >bladee + yung lean- blood rain</a></li>
      <li data-songtype="audio/bladee- 4am.mp3"><a >bladee- 4am</a></li>
      <li data-songtype="audio/BLADEE- bladeecity Ft. Yung Lean (prod. Josh Diamond).mp3"><a >bladee - bladeecity ft. yung lean (prod. josh diamond)</a></li>
      <li data-songtype="audio/bladee- Rain Check (prod. яɨρ).mp3"><a >bladee- rain check (prod. яɨρ)</a></li>
      <li data-songtype="audio/bladee+Adamn Killa - Psycho (prod яɨρ).mp3"><a >bladee+adamn killa - psycho (prod яɨρ)</a></li>
      <li data-songtype="audio/dont_go.mp3"><a >yung sherman - dont_go</a></li>
      <li data-songtype="audio/ECCO2K - guardianAngels((NO2)).mp3"><a >ECCO2K - guardianAngels((NO2))</a></li>
      <li data-songtype="audio/ECCO2K - HOLD ME DOWN LIKE GRAVITY [prod. White Armor & Yung Sherman].mp3"><a >ECCO2K - hold me down like gravity [prod. whitearmor & yung sherman]</a></li>
      <li data-songtype="audio/Gtblessgo (feat Bladee).mp3"><a >thaiboy digital - gtblessgo (feat bladee)</a></li>
      <li data-songtype="audio/thaiboy digital- ส (tiger).mp3"><a >thaiboy digital- ส (tiger)</a></li>
      <li data-songtype="audio/Thaiboy Digital+bladee - Lie 2 Me (Prod. A.W.O. X DJNAT).mp3"><a >thaiboy digital+bladee - lie 2 me (prod. A.W.O. x DJNAT)</a></li>
      <li data-songtype="audio/yung sherman & bearface - I will be here.mp3"><a >yung sherman & bearface - i will be here</a></li>
    </ul>
  </div>
</div>
<div class="form-group">
  <input id="frequencyChoice" placeholder="your saddest frequency (0-20000)"></input>
</div>
<div class="sadFace">
  <i class="fa fa-frown-o fa-5x"></i>
</div>

    <div id="graph"></div>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="mainjs.js"></script>
  </body>
</html>
