body {
  background-color: #000;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFF;
}

a {
  color: #00B7FF;
  cursor: pointer;
}
#graph {
  position: absolute;
  bottom: 75px;
  z-index: 10;
}
#buttons {
  position: absolute;
  top: 10px;
  left: 365px;
  color: white;
}
#songChoice{
  position: absolute;
  top: 5px;
  left: 5px;
}
.dropdown-menu a{
    color: #FFFFFF !important;
    background-color: black !important;
}
.dropdown-toggle{
  color: #FFFFFF !important;
  background-color: black !important;
}
.btn-default{
  color: #FFFFFF !important;
  background-color: black !important;
}
input{
  width: 250px;
  position: absolute;
  top: 8px;
  left: 100px;
  background-color: black;
}

textarea:focus, input:focus {
    color: #FFF;
}
.sadFace{
  position: absolute;
  text-align: center;
  top: 300px;
  right: 50vw
}
.fa-frown-o{
  color: #FFF;
  text-align: center;
}
#lows-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background-color: transparent;


}
